<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav navContainer">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/barGraph" routerLinkActive="active">Bar Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/timeDelay"  routerLinkActive="active">Time Delay Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lineGraph"  routerLinkActive="active">Line Graph</a>
      </li>
    </ul>
</nav>